.main{
     padding: 30px 30px 30px 30px;
  background-color: aqua;
  border-radius: 20px;


}
.task-showing-area{
     color:red;
     border: 2px solid red;
     background-color: rgb(253, 253, 253);
     border-radius: 20px;
     margin-top: 10px;
     font-size: 25px;
     padding: 10px;

}

/* --------------checkbox-------- */